@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
  color: #414141;
  background-color: #f4f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  /* color: #2b2b2b; */
  letter-spacing: 3px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.featuredEventsTitle {
  color: #0b1c47;
  font-size: 4rem;
  letter-spacing: 8px;

  margin-top: 5%;
  text-align: center;
}
